@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

$fhwa-000: #1c6da6;
$link-color: $fhwa-000;
$body-font-family: "Inter", sans-serif, -apple-system;
$font-size-5: 1.1rem;
